html, body, ul, h1, h2, p{
	margin: 0 !important;
}


header{
	text-align: center;
	height: 100px;
	color: white;
	background-color: black;
	padding: 5px;
}


.app-item{
	list-style-type: none;
	margin: 100px 50px;
}

ul{
	list-style-type: none;
	padding: 0;
}

.app-item .top-block{
	margin-bottom: 20px;
	padding: 10px 0;
	border-bottom: 1px solid gray;
}

.app-item .description{
	position: relative;
}
.app-item .description p{
	position: absolute;
	bottom: 0;
}

li h2{
	margin: none;
}




/*appPage*/
.app-container{
	margin: 100px;
	max-width: 800px;
}
.app-container div{
	margin-top: 15px;
}
.app-container b{
	border-bottom: 1px solid gray;
}
.app-container p{
	padding: 10px 0;
}
#comment-section{
	margin: 50px 0;
}
.comment{
	padding: 50px 0px;
	/* border: 1px solid black; */
}
.comment-title{
	padding-right: 20px;
}
.comment-user{
	font-weight: bold;
}
.comment-body{
	padding: 10px 0;
}


/*Header Buttons*/
#header-buttons{
	margin-top: 20px;
}
#header-buttons a{
	color: black;
}
#proposal-button{
	display: none;
}
#signout-button{
	display: none;
}
#welcome-user{
	padding-left: 50px;
	float: left;
}
#app-review-button{
	display: none;
}

/*Search bar*/
#search-bar{
	background: black;
	padding: 20px;
}
#search-bar .container{
	width: 70%;
	margin: 0 auto;
}
#search-bar #search-inputs{
	padding: 15px 0 ;
}
#search-box{
	width: 80%;
}
.sticky-search-bar{
	position: fixed;
	top: 0;
	width: 100%;
}
.content{
	padding:15px;

}
#search-bar .container label{
	color: white;
}

/*appPropoasl*/
.app-proposal-item .proposal-desc{
	padding: 20px 0;
}
.app-proposal-item span:hover{
	cursor: pointer;
}
div.inputs{
	display: inline;
}

